@import url(//fonts.googleapis.com/earlyaccess/alefhebrew.css);

* { 
  font-family: "Alef Hebrew" !important;
}

#content {
	font-size: 1.2em;
}

p:hover {
	outline: 3px double blue;
}

.make-red {
	color: red !important;
}